
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --primary-color: #ffb6c1;
    --text-color: #008000;
    --btn-color: #ff1493;
    --secondary: #4a9db9;

}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Nunito", sans-serif;
    background-color: beige;
    /* min-height: 2000px; */
}

/* Style Navbar */
nav .navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 7%;
    align-items: center;
    background-color: rgb(245, 245, 219);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar .nav-brand h2{
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
} 
.nav-menu li{
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 1.3rem;
}
.nav-menu li a{
    font-weight: 600;
    color: var(--text-color);
    font-size: 1.5rem;
}
.nav-menu li a::after{
    content: "";
    display: block;
    border-bottom: 0.1rem solid var(--primary-color);
    padding-bottom: 0.5rem;
    transform: scaleX(0);
    transition: 0.2s linear;
}
.nav-menu li a:hover::after{
    transform: scaleX(0.5);
}
.navbar .nav-btn a{
    color: var(--btn-color);
    margin: 0 0.5rem;
    font-size: large;
}
.navbar .nav-btn a:hover{
    color: var(--secondary);
}
#humberger-menu{
    display: none;
}
nav{
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 2px solid rgba(255, 255 , 255, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: beige;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }

/* Style Credit */
.credit .container{
    width: 100%;
    left: 50px;
    top: 50px;
}
}


/* Handphone */
@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
#humberger-menu{
        display: inline-block;
    }
.navbar .nav-menu{
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #008000;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
}
.navbar .nav-menu.active{
    right: 0;
}
.navbar .nav-menu li a{
    color: var(--text-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}
.navbar .nav-menu li a::after{
    transform-origin: 0 0;
}
.navbar .nav-menu li a:hover:after{
    transform: scaleX(0.2);
}
.about .row{
    flex-wrap: wrap;
}
.about .row .img-box img{
    height: 24rem;
    object-fit: cover;
    object-position: center;
}
.about .row .about-text{
    padding: 0;
}
.about .row .about-text h2{
    margin-top: 1rem;
    font-size: 2rem;
}
.about .row .about-text p{
    font-size: 1.6rem;
}

/* Style Menu */
#menu .container{
    width: 100%;
    padding: 30px 10px;
}
#menu h2{
    font-size: 40px;
}
#menu .galeri{
    grid-template-columns: 1fr;
    padding: 0 30px;
}

/* Style About */
#about .container{
    width: 100%;
    padding: 30px 10px;
}
#about h1{
    font-size: 40px;
    margin-bottom: 40px;
}
#about .row{
    display: block;
    text-align: center;
}
#about .row .about-text{
    width: 100%;
    margin-bottom: 30px;
}
#about .row .img-box{
    width: 100%;
    margin-bottom: 30px;
}

/* Style Contact */
#contact .container{
    width: 100%;
    padding: 30px 10px;
}
#contact .container .row{
    flex-wrap: wrap;
}
#contact .container .row .column{
    width: 47%;
    margin: 10px 0;
}


/* Style Credit */
.credit{
    background-color: rgb(245, 245, 220);
    color: #008000;
    text-align: center;
}
.credit .container{
    max-width: 1150px;
    margin: auto;
    padding-bottom: 20px;
}
}

.about .row{
    flex-wrap: wrap;
}


/* Style Banner */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('image/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgb(245, 245, 220)15%, rgba(255, 255, 255, 0)40%);
}
.hero .content{
    padding: 1.4rem 7%;
    max-width: 60rem;
}
.hero .content h1{
    font-size: 5em;
    color: var(--primary-color);
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}
.hero .content p{
    font-size: 1.6rem;
    margin-top: 1rem;
    list-style: 1.4;
    font-weight: 500;
    color: #008000;
}
.hero .content .btn-order{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 20px;
    color: #ffb6c1;
    background-color: var(--btn-color);
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Style Menu */
#menu .container{
    max-width: 1150px;
    margin: auto;
    padding: 40px 0 60px;
    text-align: center;
}
#menu .title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--primary-color);
}
#menu h2{
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: 700;
    color: var(--text-color);
}
#menu .galeri{
    display: grid;
    row-gap: 20px;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.galeri .card{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding-bottom: 10px;
    transition: .3s ease;
}
.galeri .card:hover{
    transform: scale(1.05);
}

.galeri .card img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
}
.galeri .card .menu-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 10px; 
}
.galeri .card .menu-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 10px;
}
.menu-info h3{
    text-align: left;
    margin-right: 5px;
    color: var(--text-color);
}
.menu-info span{
    color: var(--text-color);
    font-weight: bold;
    text-align: left;
    padding-top: 2px;
    display: inline-block;
    width: fit-content;
    white-space: nowrap;
}
.galeri .menu-rating .cart-menu{
    background-color: var(--btn-color);
    padding: 10px;
    border-radius: 4px;
    color: #ffb6c1;
}
.menu-info i{
    font-size: small;
}
.menu-rating .menu-stars{
    color: var(--btn-color);
}
.galeri .card .rating{
    margin-top: 15px;
    align-items: center;
}

/* Style About */
.about{
    background-color: rgb(247, 247, 205);
}
.about .container{
    max-width: 1150px;
    margin: auto;
    padding: 40px 0 60px;
}
.about .title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--primary-color);
}
.about h1{
    text-align: center;
    font-size: 50px;
    color: var(--btn-color);
    font-weight: 700;
    margin-bottom: 50px;
}
.about .row{
    display: flex;
}
.about .row .img-box{
    flex: 1 1 45rem;  
    position: relative;
}
.about .row .img-box img{
    width: 100%;
    gap: 40px;
    margin-left: 20px;
}
.about .row .about-text{
    flex: 1 1 35rem;
    padding: 0 1rem;
}
.about .row .about-text h2{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}
.about .row .about-text p{
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: justify;
    color:var(--text-color);
}
.row .about-text .more {
    background-color: var(--btn-color);
    padding: 10px;
    border-radius: 4px;
    color: #ffb6c1;
}
.about .row .img-box .btn-map{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    left: 55%;
    top: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
    z-index: 9;
    transition: 0.3s;
}
.about .row .img-box .btn-map a{
    color: white;
    padding: 10px;
    display: block;
    font-size: 40px;
    border-radius: 50%;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.7)
}
.about .row .img-box .btn-map a:hover{
    transform: scale(1.07);
    background-color: #4a9db9;
    color: var(--btn-color);
}
/* Style Kontak */
#contact{
    background-color: beige;
    color: #fd7b8e;
}
#contact .container{
    max-width: 1150px;
    margin: auto;
    padding: 50px 0;
}
#contact .container .row{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
#contact .container .row .column{
    width: 20%;
}
#contact .container .row .column h2{
    color: var(--text-color);
    margin-bottom: 20px;
}
#contact .container .row .column .social{
    color: #ff1493;
    margin-right: 20px;
}


/* Style Credit */
.credit{
    background-color: rgb(245, 245, 220);
    color: #008000;
    text-align: center;
}
.credit .container{
    max-width: 1150px;
    margin: auto;
    padding-bottom: 20px;
}
