
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --primary-color: #ffb6c1;
    --text-color: #008000;
    --btn-color: #ff1493;
    --secondary: #4a9db9;

}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: "Nunito", sans-serif;
    background-color: beige;
    /* min-height: 2000px; */
}

/* Style Navbar */
nav .navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 7%;
    align-items: center;
    background-color: rgb(245, 245, 219);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar .nav-brand h2{
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
} 
.nav-menu li{
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 1.3rem;
}
.nav-menu li a{
    font-weight: 600;
    color: var(--text-color);
    font-size: 1.5rem;
}
.nav-menu li a::after{
    content: "";
    display: block;
    border-bottom: 0.1rem solid var(--primary-color);
    padding-bottom: 0.5rem;
    transform: scaleX(0);
    transition: 0.2s linear;
}
.nav-menu li a:hover::after{
    transform: scaleX(0.5);
}
.navbar .nav-btn a{
    color: var(--btn-color);
    margin: 0 0.5rem;
    font-size: large;
}
.navbar .nav-btn a:hover{
    color: var(--secondary);
}
#humberger-menu{
    display: none;
}
nav{
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 2px solid rgba(255, 255 , 255, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: beige;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}


/* Handphone */
@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
#humberger-menu{
        display: inline-block;
    }
.navbar .nav-menu{
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #008000;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
}
.navbar .nav-menu.active{
    right: 0;
}
.navbar .nav-menu li a{
    color: var(--text-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}
.navbar .nav-menu li a::after{
    transform-origin: 0 0;
}
.navbar .nav-menu li a:hover:after{
    transform: scaleX(0.2);
}
}

/* Style Banner */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('image/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgb(245, 245, 220)15%, rgba(255, 255, 255, 0)40%);
}
.hero .content{
    padding: 1.4rem 7%;
    max-width: 60rem;
}
.hero .content h1{
    font-size: 5em;
    color: var(--primary-color);
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}
.hero .content p{
    font-size: 1.6rem;
    margin-top: 1rem;
    list-style: 1.4;
    font-weight: 500;
    color: #008000;
}
.hero .content .btn-order{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 20px;
    color: #ffb6c1;
    background-color: var(--btn-color);
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Style Menu */
#menu .container{
    max-width: 1150px;
    margin: auto;
    padding: 40px 0 60px;
    text-align: center;
}
#menu .title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--primary-color);
}
#menu h2{
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: 700;
    color: var(--text-color);
}
#menu .galeri{
    display: grid;
    row-gap: 20px;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.galeri .card{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding-bottom: 10px;
    transition: .3s ease;
}
.galeri .card:hover{
    transform: scale(1.05);
}

.galeri .card img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
}
.galeri .card .menu-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 10px; 
}
